black==25.1.0
blinker==1.9.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
defusedxml==0.7.1
flake8==7.3.0
Flask==3.1.1
httpie==3.2.4
idna==3.10
isort==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
markdown-it-py==4.0.0
MarkupSafe==3.0.2
mccabe==0.7.0
mdurl==0.1.2
multidict==6.6.4
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
PySocks==1.7.1
requests==2.32.4
requests-toolbelt==1.0.0
rich==14.1.0
urllib3==2.5.0
Werkzeug==3.1.3
